* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgba(1, 5, 24, 0.925);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1 {
  margin-top: 12px;
}

.quiz-box {
  width: 50%;
  height: auto;
  background-color: rgba(1, 5, 24, 0.555);
  border: 2px solid purple;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 1px 2px 22px purple;
}

#timer {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
  color: rgb(226, 226, 4);
}
#question {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.options {
  margin-bottom: 10px;
  text-align: center;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
}
.optionsbtn {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: rgba(2, 12, 63, 0.267);
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 1px 1px 5px purple;
}
.optionsbtn:hover {
  background-color: rgba(3, 175, 175, 0.712);
}

#next-btn {
  width: auto;
  padding: 12px 20px;
  background-color: rgba(214, 7, 169, 0.938);
  border: 1px solid black;
  border-radius: 12px;
  font-size: 16px;
  color: white;
  align-self: center;
  font-weight: 500;
  margin-bottom: 12px;
  cursor: pointer;
  margin: 12px;
  margin-left: 40%;
}

.result {
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
}

.correct {
  background-color: rgba(1, 122, 1, 0.904);
}

.wrong {
  background-color: rgba(182, 2, 2, 0.507);
}
